header#top.main-header.navbar.navbar-static-top.bs-docs-nav(role='banner')
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='http://uw.edu')
				img(src='../img/w.svg', alt='', style='height: 75px;')
				img.hidden-xs(src='../img/uw.svg', alt='', style='height: 20px;')
				// Navigation
nav.navbar.navbar-default.sub-nav
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.navbar-stf(href='/'): img(src='../img/logo.png')
		.navbar-collapse.collapse
			ul.nav.navbar-nav
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown') Proposals 
						span.caret
					ul.dropdown-menu(role='menu')
						li
							a(href='/proposals/browse') Browse All
						li
							a(href='/proposals/create') Create New
						li
							a(href='#') My Proposals
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown') Committee 
						span.caret
					ul.dropdown-menu(role='menu')
						li
							a(href='/documents') Documents
						li
							a(href='#') Key Server
						li
							a(href='/calendar') Calendar				
				li
					a(href='#') Explore
			ul.nav.navbar-nav.navbar-right
				li
					a(href='/faq') FAQ
				li
					a(href='/about') About
				li
					a(href='/contact') Contact
				li.active
					a(href='#') Login
		// /.nav-collapse