extends layout

block content
	.container
		h1= title
		p.
			The STF Commitee regularly meets on Mondays between 1:00pm and 3:00pm.
			Any extra meetings, and important dates, will bes posted here.
		| <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=1&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%239999ff&amp;src=webmaster%40exco.org&amp;color=%239999ff&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="yes"></iframe>