extends layout

block content
  .container
    h2 New Proposal                     
    .row.form-group
      .col-xs-12
        ul.nav.nav-pills.nav-justified.thumbnail.setup-panel.form-ul
          li.active
            a(href='#step-1')
              h4.list-group-item-heading Introduction                                   
              p.list-group-item-text First step description                                
          li.disabled
            a(href='#step-2')
              h4.list-group-item-heading Contact                                     
              p.list-group-item-text Second step description                                 
          li.disabled
            a(href='#step-3')
              h4.list-group-item-heading Description                                   
              p.list-group-item-text Third step description                                 
          li.disabled
            a(href='#step-4')
              h4.list-group-item-heading Item                                     
              p.list-group-item-text Fourth step description                                 
          li.disabled
            a(href='#step-5')
              h4.list-group-item-heading Signature Page                                    
              p.list-group-item-text Final step description
    #step-1.setup-content
      .col-xs-12
        .col-md-12.well
          if proposal 
            h3 #{proposal.id}
          // Introduction Form
          form.form-horizontal(data-toggle='formcache', name='proposalForm', method='post', action='addproposal')
            fieldset
              // Form Name
              legend
              // Text input
              .form-group
                label.col-md-4.control-label(for='title') Title
                                              
                .col-md-5
                  
                  if proposal
                    input#title.form-control.input-md(name='title', type='text', placeholder='title', value='#{proposal.ProposalTitle}', required='true')
                  else 
                    input#title.form-control.input-md(name='title', type='text', placeholder='title', required='true')
                                                    
                  span.help-block Title for your proposal
              // Select Basic
              .form-group
                label.col-md-4.control-label(for='category') Category
                                              
                .col-md-4
                  select#category.form-control(name='category')
                    option(value='optionOneValue') Option one
                                                          
                    option(value='optionTwoValue') Option two
              // Select Basic
              .form-group
                label.col-md-4.control-label(for='department') Department
                                              
                .col-md-4
                  select#department.form-control(name='department')
                    option(value='optionOneValue') Option one
                                                          
                    option(value='optionTwoValue') Option two
              // Button (Double)
              .form-group
                label.col-md-4.control-label(for='saveAndContinue')
                                              
                br
                                              
                .col-md-4
                                              
                .col-md-4
                  button#saveAndContinue.btn.btn-primary.form-button(type='submit', name='saveAndContinue') Save and Continue
                                                    
                  button.next-button#activate-step-2.btn.btn-default.form-button(name='next') Next
        // <button id="activate-step-2" class="btn btn-primary btn-lg">Activate Step                     
    #step-2.row.setup-content
      form.form-horizontal(data-toggle='formcache', name='contactForm', method='post', action='addcontact')
        .col-xs-12
          .col-md-12.well
            h4.text-center  Primary                                
            .form-horizontal
              fieldset
                // Form Name
                legend
                // Text input
                .form-group
                  label.col-md-4.control-label(for='textinput') Name                                             
                  .col-md-4
                    input#textinputName.form-control.input-md(name='textinput', type='text', placeholder='name', required='true')
                                                  
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='primary-title') Title                                             
                  .col-md-4
                    input#primary-title.form-control.input-md(name='primary-title', type='text', placeholder='title', required='')                              
                    span.help-block help 
                // Text input
                .form-group
                  label.col-md-4.control-label(for='primary-email') Email                                             
                  .col-md-4
                    input#primary-email.form-control.input-md(name='primary-email', type='email', placeholder='xyz@uw.edu', required='')
                                                  
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='primary-phone') Phone                                             
                  .col-md-4
                    input#primary-phone.form-control.input-md(name='primary-phone', type='text', placeholder='999-999-9999', required='')
                                                  
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='primary-mail') Mail                                             
                  .col-md-4
                    input#primary-mail.form-control.input-md(name='primary-mail', type='text', placeholder='abc', required='')
                                                  
                    span.help-bloc                                 
            h4.text-center  Budget                                
            .form-horizontal
              fieldset
                // Form Name
                legend
                // Text input
                .form-group
                  label.col-md-4.control-label(for='budget-name') Name                                             
                  .col-md-4
                    input#budget-name.form-control.input-md(name='budget-name', type='text', placeholder='name', required='')
                                                  
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='budget-title') Title                                             
                  .col-md-4
                    input#budget-title.form-control.input-md(name='budget-title', type='text', placeholder='title', required='')
                                                  
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='budget-email') Email                                             
                  .col-md-4
                    input#budget-email.form-control.input-md(name='budget-email', type='email', placeholder='xyz@uw.edu', required='')
                                                  
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='budget-phone') Phone                                
                  .col-md-4
                    input#budget-phone.form-control.input-md(name='budget-phone', type='text', placeholder='999-999-9999', required='')                                                
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='budget-mail') Mail                                          
                  .col-md-4
                    input#budget-mail.form-control.input-md(name='budget-mail', type='text', placeholder='abc', required='')                                            
                    span.help-block help                              
            h4.text-center  Dean/Departmental-Head                            
            .form-horizontal
              fieldset
                // Form Name
                legend
                // Text input
                .form-group
                  label.col-md-4.control-label(for='ddh-name') Name                                           
                  .col-md-4
                    input#ddh-name.form-control.input-md(name='ddh-name', type='text', placeholder='name', required='')                                                
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='budget-title') Title                                           
                  .col-md-4
                    input#budget-title.form-control.input-md(name='budget-title', type='text', placeholder='title', required='')                                               
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='ddh-email') Email                                     
                  .col-md-4
                    input#ddh-email.form-control.input-md(name='ddh-email', type='email', placeholder='xyz@uw.edu', required='')                                              
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='ddh-phone') Phone                                            
                  .col-md-4
                    input#ddh-phone.form-control.input-md(name='ddh-phone', type='text', placeholder='999-999-9999', required='')                                               
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='ddh-mail') Mail                                            
                  .col-md-4
                    input#ddh-mail.form-control.input-md(name='ddh-mail', type='text', placeholder='abc', required='')                                                
                    span.help-block help                                
            h4.text-center  Student                                 
            .form-horizontal
              fieldset
                // Form Name
                legend
                // Text input
                .form-group
                  label.col-md-4.control-label(for='stu-name') Name                                            
                  .col-md-4
                    input#stu-name.form-control.input-md(name='stu-name', type='text', placeholder='name', required='')                                                
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='stu-title') Title                                           
                  .col-md-4
                    input#stu-title.form-control.input-md(name='stu-title', type='text', placeholder='title', required='')                                               
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='stu-email') Email
                  .col-md-4
                    input#stu-email.form-control.input-md(name='stu-email', type='email', placeholder='xyz@uw.edu', required='')                                               
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='stu-phone') Phone
                  .col-md-4
                    input#stu-phone.form-control.input-md(name='stu-phone', type='text', placeholder='999-999-9999', required='')                                                
                    span.help-block help
                // Text input
                .form-group
                  label.col-md-4.control-label(for='stu-mail') Mail                                            
                  .col-md-4
                    input#stu-mail.form-control.input-md(name='stu-mail', type='text', placeholder='abc', required='')                                              
                    span.help-block help
                // Button (Three)
                .form-group
                  label.col-md-4.control-label(for='saveAndContinue')                                           
                  br                                            
                  .col-md-4                                           
                  .col-md-4
                    button.next-button#activate-step-1.btn.btn-default.form-button(name='back') Back                                            
                    button#saveAndContinue.btn.btn-default.form-button(name='saveAndContinue' type='submit') Save and Continue
                    button.next-button#activate-step-3.btn.btn-default.form-button(name='next') Next  
    #step-3.row.setup-content
      .col-xs-12
        .col-md-12.well
          .form-horizontal
            fieldset
              // Form Name
              legend
              // Textarea
              .form-group
                label.col-md-4.control-label(for='abstract') Abstract                                    
                .col-md-4
                  textarea#abstract.form-control(name='abstract') 800 words...
              // Textarea
              .form-group
                label.col-md-4.control-label(for='background') Background                                             
                .col-md-4
                  textarea#background.form-control(name='background') background...
              // Textarea
              .form-group
                label.col-md-4.control-label(for='category')
                Category Justification 
                  br  
                  a(href='#')  edit category                                             
                .col-md-4
                  textarea#category.form-control(name='category') justification...                                        
              .form-group
                label.col-md-4.control-label(for='abstract') Benefits to Students and University                                            
                .col-md-4
                  textarea#abstract.form-control(name='abstract') 800 words...
              // Textarea
              .form-group
                label.col-md-4.control-label(for='background') Access Restrictions (if any)                                             
                .col-md-4
                  textarea#background.form-control(name='background') ...                                       
              .form-group
                label.col-md-4.control-label(for='textinput') Hours of Availability                                            
                .col-md-2
                  input#textinputHours.form-control.input-md(name='textinput', type='text', placeholder='1,2,3...', required='')                                                
                  span.help-block help                                       
              .form-group
                label.col-md-4.control-label(for='textinput') Days of Availability                                           
                .col-md-2
                  input#textinputDays.form-control.input-md(name='textinput', type='text', placeholder='S,M,Tu...', required='')                                                
                  span.help-block help                                        
              .form-group
                label.col-md-4.control-label(for='resources') Resources Provided by Department                                            
                .col-md-4
                  textarea#resources.form-control(name='resources') ...                                       
              .form-group
                label.col-md-4.control-label(for='timeline') Installation Timeline                                            
                .col-md-4
                  textarea#timeline.form-control(name='timeline') ...
              // Button (Double)
              .form-group
                label.col-md-4.control-label(for='saveAndContinue')                                             
                .col-md-4
                  br                                              
                  button.next-button#activate-step-2.btn.btn-default.form-button(name='back') Back                                                 
                  button#saveAndContinue.btn.btn-default.form-button(name='saveAndContinue') Save and Continue                                               
                  button.next-button#activate-step-4.btn.btn-default.form-button(name='next') Next                                           
                .col-md-4                    
    #step-4.row.setup-content
      .col-xs-12
        .col-md-12.well
          .form-horizontal
            fieldset
              // Form Name
              legend
              // Text input
              .form-group
                label.col-md-4.control-label(for='item-name') Name                                            
                .col-md-4
                  input#item-name.form-control.input-md(name='item-name', type='text', placeholder='...', required='')                                                 
                  span.help-block help
              // Text input
              .form-group
                label.col-md-4.control-label(for='group') Group                                             
                .col-md-4
                  input#group.form-control.input-md(name='group', type='text', placeholder='...', required='')                                                
                  span.help-block help
              // Text input
              .form-group
                label.col-md-4.control-label(for='qty') Quantity                                            
                .col-md-4
                  input#qty.form-control.input-md(name='qty', type='text', placeholder='1,2,3', required='')                                                
                  span.help-block help
              // Text input
              .form-group
                label.col-md-4.control-label(for='price') Price                                             
                .col-md-4
                  input#price.form-control.input-md(name='price', type='text', placeholder='$', required='')                                                 
                  span.help-block help
              // Select Basic
              .form-group
                label.col-md-4.control-label(for='type') Type                                            
                .col-md-4
                  select#type.form-control(name='type')
                    option(value='1') Option one                                                     
                    option(value='2') Option two                                                     
                    option(value='') Other
              // Text input
              .form-group
                label.col-md-4.control-label(for='other-type') Other                                             
                .col-md-4
                  input#other-type.form-control.input-md(name='other-type', type='text', placeholder='...')                                                
                  span.help-block help
              // Textarea
              .form-group
                label.col-md-4.control-label(for='item-justification') Justification                                             
                .col-md-4
                  textarea#item-justification.form-control(name='item-justification') ...
              // Textarea
              .form-group
                label.col-md-4.control-label(for='item-desc') Description                                            
                .col-md-4
                  textarea#item-desc.form-control(name='item-desc') ...
              // Button
              .form-group
                label.col-md-4.control-label(for='addItem')                                            
                .col-md-4
                  button#addItem.btn.btn-default(name='addItem') +Add Another Item
              // Button (Double)
              .row
                .col-md-4                                            
                .col-md-4
                  br                                                
                  button.next-button#activate-step-3.btn.btn-default.form-button(name='back') Back                                                
                  button#saveAndContinue.btn.btn-default.form-button(name='saveAndContinue', type='submit') Save and Continue                                                
                  button.next-button#activate-step-5.btn.btn-default.form-button(name='next') Next                                             
                .col-md-4
