extends layout

block content
    .jumbotron(style='background: url(img/background.jpg)')
      .container
        h1 STF | Student Technology Fee               
        p              
        p
          a.link-button Learn more &gt; 
    // Grid
    .container
      .row
        .col-sm-9
          h2 About                       
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.                      
          p.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.                    
        .col-sm-3(style='background-color:#FAFAFA;')
          h3  Announcements                        
          p.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt explicabo.

